* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  opacity:0
}



h1 {
  font-size: 35px;
}
p {
  font-size: 12px;
}

#header {
  height: 100vh;
  background-image: url(../images/bgirrigation.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 100px;
}
#logo {
  padding-top: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text{color:#fff;margin-left:-0.1rem;font-size:1.2rem;transform:translateY(2px)}

.header-text {
  max-width: 550px;
  margin-top: 120px;
}

.header-text h1 {
  font-size: 40px;
  color: rgb(211, 209, 209);
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #076b2d;
  margin: 15px 0;
}

.common-btn {
  padding: 18px 40px;
  background: #076b2d;
  outline: none;
  border: 2px solid #076b2d;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.header-text p {
  font-size: 13px;
  line-height: 18px;
  color: rgb(211, 209, 209);
}

.header-text button {
  margin: 20px 0 20px 0;
}

.line-1 {
  width: 15px;
  height: 15px;
  background: #076b2d;
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 1px;
  background: #076b2d;
  display: inline-block;
}

.line-3 {
  width: 60px;
  height: 1px;
  background: #076b2d;
  display: inline-block;
}

.line {
  line-height: 5px;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  /* background: #076b2d; */
  background: #fff;
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  color: #076b2d;
  text-decoration: none;
}

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/*--Features--*/
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 100px;
}

.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.feature-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.feature-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

/*--courses--*/
#courses {
  padding: 100px 0;
}

.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.course-right-col,
.course-left-col {
  flex-basis: 50%;
}

.course-right-col img {
  width: 100%;
}

.course-text {
  max-width: 350px;
}

.course-text button {
  margin: 30px 0;
}

/*--offer--*/
#offer {
  padding: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.prod_image{
  height:200px;
  width:300px;
}

.prod_details p{
  /* text-align: center; */
}

.prod{margin-bottom: 1.3rem;}

.prod_image img{
  height:100%;
  object-fit: cover;
  width:100%;
}

.offer-left-col {
  flex-basis: 50%;
  
}

.offer-left-col img {
  width: 100%;
}

.offer-grid{
  display:grid;
  grid-template-rows: 2;
}
.offer-right-col {
  flex-basis: 50%;
 ;
}
.offer-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.offer-text h2 {
  margin: 50px 0 10px;
  font-size: 20px;
  font-style: italic;
}
.offer-text h3 {
  color: rgb(80, 79, 79);
  font-size: 20px;
  font-style: italic;
}
#offer button {
  margin: 30px 0;
}

/*--contact--*/
.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
  flex-basis: 50%;
}

.contact-right-col img {
  width: 100%;
}

form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #076b2d;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}
/*--footer--*/
#footer {
  padding: 50px 0 30px;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #076b2d;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}

.footer-right-col {
  flex-basis: 35%;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4 {
  color: #076b2d;
  margin-bottom: 20px;
}

.link-title small {
  font-size: 13px;
  color: rgb(80, 79, 79);
}

.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 100px;
}

.footer-logo button {
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 10px;
}

.copyright-text,
.footer-logo {
  flex-basis: 40%;
}

.copyright-text {
  color: rgb(80, 79, 79);
}

/*--social icons--*/

.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

/*--RESPONSIVE DESIGN--*/

@media all and (max-width: 770px) {
  #header {
    background-image: none;
  }
  .logo-text{color:#000}
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }

  .logo {
    margin-top: 27px;
    width: 70px;
  }
  .header-text {
    margin-top: 30px;
    color: black;
  }
  .header-text h1,
  .header-text p {
    color: black;
    font-size:18px;
  }

  h1 {
    font-size: 21px;
  }
  #menuBtn {
    width: 40px;
    right: 50px;
  }
  .common-btn {
    padding: 10px 16px;
  }
  .social-icons img {
    width: 14px;
    margin: 15px auto;
  }
  .offer-left-col,
  .offer-right-col {
    flex-basis: 100%;
  }
  .offer-text {
    margin: 50px 50px 0;
  }
  .offer-text h2 {
    font-size: 18px;
  }
  .offer-text h3 {
    font-size: 15px;
  }
  .feature-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .course-left-col,
  .course-right-col {
    flex-basis: 100%;
  }
  .course-right-col {
    margin-top: 70px;
  }
  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }
  .contact-right-col {
    margin-top: 50px;
  }
  .footer-left-col,
  .footer-right-col {
    flex-basis: 100%;
  }
  .link-title {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}


/* extras */
#feature1{
  transform:translateX(-40px);
  transition:0.4s ease;
}

#feature2{
  transform: translateY(40px);
  transition:0.4s ease;
}

#feature3{
  transform:translateX(40px);
  transition:0.4s ease;
}

.course-right-col,.offer-right-col,
.course-text,.offer-left-col,#contact
{
  opacity:0;
  transform:translateY(40px);
  transition:0.4s ease;
}
