*{margin:0;padding:0;box-sizing:border-box;text-decoration:none;list-style:none}
body,html{font-family:Roboto;overflow-x:hidden;scroll-behavior:smooth}
.main_nav{height:75px;padding:0 50px;top:0;position:fixed;width:100%;z-index:10;justify-content:space-between;background:#fff;box-shadow:0 20px 40px rgba(204,204,204,.363)}
.logo img{height:50px;width:50px}
.right_nav>li{margin-left:2.5rem;display:inline-block;height:75px;line-height:75px}
.right_nav>li.active{border-bottom:3px solid #000}
li::selection{color:auto;background:0 0}
.right_nav>li>a{text-transform:uppercase;color:#000}
.hero{height:420px;background:#000;margin-top:75px}
.bubbles{margin:auto;text-align:center;margin-top:10px}
.bubbles span{height:10px;width:10px;background:#ccc;display:inline-block;border-radius:50%}
.bubbles span.active{background:#626262}
.info{margin-top:3rem;padding:0 100px;display:grid;grid-template-columns:repeat(2,1fr);grid-gap:2rem;padding-bottom:4rem}
.text h2{font-size:2.6rem;margin-bottom:1.5rem;position:relative;width:fit-content;text-transform:uppercase;color:#626262}
.text h2 span{display:block;position:absolute;left:0;bottom:-3px;width:90%;height:2px;background:#626262}
.text p{line-height:1.4rem}
.illustr img{width:100%;height:100%;object-fit:cover}
.demo_req{background:#fff;padding:2rem 100px}
.demo_req h2{text-align:center}
.demo_req_content{display:grid;grid-template-columns:repeat(2,1fr);margin-top:2rem}
.form{justify-items:center;margin-left:2rem}
.demo_req .form input,.demo_req .form textarea{display:block;width:350px;border:none;border-radius:3px;outline:0;margin-bottom:1rem;font-family:Roboto;font-size:1.05rem;border:1px solid #ccc;padding:.3rem .4rem}
.demo_req .form textarea{padding:.3rem;max-width:400px}
.demo_req .form input:not([type=submit]){padding-bottom:.3rem}
.demo_req .form input[type=submit]{border:none;border-radius:3px;padding:.5rem 1rem;background:#1ab394;color:#fff;width:fit-content;cursor:pointer;margin:0}
.content p{margin-top:1rem}
.small{height:200px;object-fit:cover;float:right}
.solutions h2{position:relative;text-align:center;margin-top:1.6rem;margin-bottom:1.5rem}
.solutions h2 span{position:absolute;bottom:-3px;height:2px;background:#000;width:80px;left:50%;transform:translateX(-50%)}
.cards{display:grid;grid-template-columns:repeat(4,1fr);max-width:800px;margin:auto;justify-items:center;grid-gap:1rem;padding-bottom:3rem}
.card{height:170px;width:145px;border-radius:5px;box-shadow:2px 20px 40px #cccccc3b;background:#fff;display:grid;grid-template-rows:75% 25%;text-align:center;padding-bottom:.3rem}
.card_image{height:100px;width:100px;border-radius:50%;background:#a3f1d05e;margin:auto}
.card_image img{height:65px;width:65px;object-fit:cover}
.card_text p{font-weight:600}
.newsletter{height:300px;background:#fff}
.newsletter>div{background:#a3f1d05e;max-width:70%;display:grid;grid-template-columns:40% 60%;padding:3rem 5rem;justify-items:center;border-radius:4px;box-shadow:0 20px 40px rgba(204,204,204,.767)}
.newsletter form input[type=email]{padding:.5rem 1rem;outline:0;border:1px solid #ccc;border-radius:5px}
.newsletter form input[type=submit]{padding:.3rem 1rem;margin-left:.3rem;border-radius:5px;background:#1ab394;cursor:pointer;color:#fff;outline:0;border:none}
.hero{position:relative;overflow:hidden}
.hero::before{content:'';background:rgba(0,0,0,.383);z-index:5;left:0;top:0;width:100%;height:100%;position:absolute}
.hero img{height:100%;width:100%;object-fit:cover;position:absolute;left:0;top:0;transition:.4s ease}
.hero img.float{top:-100%}
.hero .text{position:absolute;top:50%;left:3rem;transform:translateY(-50%);z-index:6;color:#fff}
.hero .text2{opacity:0}
.hero .text3{opacity:0}
.hero .text a{margin-top:1rem;color:#fff;display:inline-block;background:#1ab394;border-radius:2px;padding:.5rem 1rem}
.hero .text h1{font-size:3rem}
.mobile_ham{display:none;cursor:pointer}
.mobile_nav{position:fixed;background:#fff;width:100%;margin-top:75px;z-index:8;opacity:0;pointer-events:none;transition:.4s ease}
.mobile_nav li{width:100%;border-bottom:1px solid rgba(204,204,204,.308);padding:.5rem;text-align:center}
.mobile_nav>li a{color:#000;text-transform:uppercase}
.mobile_ham span{display:block;height:5px;width:36px;background:#000;margin:.3rem 0;border-radius:5px;transition:.4s ease}
.mobile_ham span:nth-of-type(2){width:32px}
.mobile_ham.active span:nth-of-type(2){width:36px;transform:translateY(-10px) rotate(45deg)}
.mobile_ham.active span:first-of-type{transform:rotate(-45deg)}
.mobile_nav .child1,.mobile_nav .child2{display:none}
.ufma{line-height:50px;font-size:20px;margin-top:5px;font-weight:600;margin-left:-2px;text-transform:uppercase}
@media(max-width:896px){
.right_nav{display:none}
.mobile_ham{display:block}
.mobile_nav.active{opacity:1;pointer-events:all}
}
.mobile_nav .child1.active,.mobile_nav .child2.active{display:block}
.child1 li a,.child2 li a{color:#000}
.child1 li:hover,.child2 li:hover{background:#f3f3f3}
@media(max-width:897px){
.newsletter>div{grid-template-columns:1fr}
.news_form{margin-top:1rem}
}
@media(max-width:820px){
.demo_req_content,.info{grid-template-columns:1fr}
.content img{transform:scale(.5)}
.form{justify-items:center;margin:auto;margin-top:2rem}
.small{display:none}
.demo_req_content{text-align:center;margin-top:0}
.form input[type=submit]{margin:auto;display:inline-block}
}
@media(max-width:556px){
.cards{grid-template-columns:repeat(2,1fr)}
.info{padding:0 20px}
.demo_req{padding:1rem 20px}
.hero{height:280px}
.newsletter>div{max-width:96%;padding:3rem 2rem}
.main_nav{padding:0 20px}
h1{font-size:1.6rem!important}
h2{font-size:1.4rem!important}
.hero .text{left:1.2rem}
.text p{margin-right:1rem}
.demo_req_content{display:flex;flex-direction:column}
.demo_req .form input,.demo_req .form textarea{width:100%}
}
.card_text p{color:#3a3939;font-weight:400}
.content p,.text .erp_info{line-height:1.6rem}
.footer{background:#2e3636;margin-top:1rem}
.footer_wrapper{padding:2rem 50px;display:grid;grid-template-columns:repeat(4,1fr);justify-items:center}
.social-buttons{display:flex;flex-wrap:wrap;justify-content:center;margin-top:-10px}
.social-buttons__button{margin:10px 5px 0}
.social-button{position:relative;display:flex;justify-content:center;align-items:center;outline:0;width:50px;height:50px;text-decoration:none}
.social-button__inner{position:relative;display:flex;align-items:center;justify-content:center;width:calc(100% - 2px);height:calc(100% - 2px);border-radius:100%;background:#fff;text-align:center}
.social-button i,.social-button svg{position:relative;z-index:1;transition:.3s}
.social-button i{font-size:28px}
.social-button svg{height:40%;width:40%}
.social-button::after{content:"";position:absolute;top:0;left:50%;display:block;width:0;height:0;border-radius:100%;transition:.3s}
.social-button:focus,.social-button:hover{color:#fff}
.social-button:focus::after,.social-button:hover::after{width:100%;height:100%;margin-left:-50%}
.social-button--facebook{color:#3b5999}
.social-button--facebook::after{background:#3b5999}
.social-button--linkedin{color:#0077b5}
.social-button--linkedin::after{background:#0077b5}
.social-button--twitter{color:#55acee}
.social-button--twitter::after{background:#55acee}

/* footer styling */
.footer  h3{color:#fff;margin-bottom:0.7rem;}
.footer ul{color:#d6d3d3;}
.footer ul li{margin-bottom:0.8rem;cursor: pointer;transition: 0.4s ease}
.footer ul li:hover{color:#fff;}
.location .fa{margin-right:1rem;}
.location li{display:grid;grid-template-columns: 1rem 1fr;grid-gap:1rem;}


@media(max-width:941px){
    .footer_wrapper{padding:1.4rem 1rem;grid-template-columns: 1fr;justify-items: stretch;}
    .footer_wrapper > div{margin-bottom:1.5rem;}
    .social-buttons{justify-content: flex-start;}
}