html,body{
    background:linear-gradient(90deg,rgb(16, 99, 110),rgb(9, 110, 88));
    height:100vh;
    width:100%;
    display:flex;
    overflow-x:hidden;
}

.login-page{
    max-width: 600px;
    margin:auto;
    margin-top:20vh;
}

.form_holder,.well{
    max-width: 600px;
    min-width: 400px;
}

.well{
    box-shadow: 2px 4px 9px 17px rgba(10, 10, 10, 0.089);
}

form{
    width:100%;
}

form label{
    text-transform:capitalize !important;
    color: #666;
}

.form-control{
    margin-bottom: 1rem;
    border: 1px solid #e5e5e5;
    line-height: 43px;
    padding:0.5rem 1rem;
}

form input,form label{
    width:100%;
}

.cover-tn{
    display:flex;
    align-items: center;
    justify-content: center;
}

form button{
    background:linear-gradient(90deg,rgb(27, 98, 107),rgb(9, 79, 88)) !important;
    outline:none;
    border:none !important;
    color:#fff;
    width:auto;
    padding:0.5rem 2rem;
    border-radius:5px;
}


form button:hover{
    color:#fff !important;
}

.form-content{
    opacity:0;
    transform:translateY(40px);
    animation:fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in{
0%{}
100%{
    transform:translateY(0);
    opacity:1;
}
}