body,html{
    height:100%;
}

.banner{
    height:150px;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('../images/media.jpg');
    background-position:center;
    background-size:cover;
    margin-top:75px;
}

.banner h1{
    margin:0 0 0 50px;
    line-height:150px;
    color:#f2f2f2;
    letter-spacing: 2px;
}

.content{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /* grid-auto-rows: 20px; */
    margin:2rem auto;
    max-width:100%;
    padding:0 50px;
    align-items:center;
    grid-gap:1rem;
}


.single{
    display:grid;
    grid-template-rows:60% 40%;
    height: 250px;
    transition:0.4s ease;
    margin-bottom: 1.5rem;
}

.single:hover{
    box-shadow: 1px 2px 30px 50px #1111;
}
.single_image{
    /* height:200px; */
    background:#000;
}
.single_content{
    padding: 0 0 0.3rem 0.5rem;
    position: relative;
}

.content .single_content p{
    color:#111;
    line-height:1.3rem;
}

.single_content span{
    margin-top: 0.5rem;
    font-size:0.8rem;
    font-style: italic;
    position: absolute;
    bottom:1rem;
    right:1rem;
}