
.FMS-title{
  font-weight: bolder;
}


.holder{
  width:100%;
  min-height:78vh;
  background:#171f2786;
  padding:2rem 1.5rem;
  border-radius:7px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:200px;
  grid-gap:20px;
}


.holder > div{
  background:#404f5d50;
  border-radius:6px;
  padding:15px 1rem;
  position:relative;
  transition:0.4s ease;

}

.monitoring-mgt-fm{
  position: relative;
}


.svg-holder{
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.svg-holder svg{
  width:100%;
  height:50%;
}

.title-fm{
  position:absolute;
  top:1rem;
  left:1rem;
}

#proceed{
  position:absolute;
  bottom:1.5rem;
  right:1.2rem;
  background:#fff;
  color:#1ab394;
  padding:5px 1.5rem;
  font-weight:500;
  border-radius: 5px;
  transition:0.2s ease-in-out;
}

#proceed:hover{
  background:#1ab394;
  color:#fff;
}

.fin-mgt-fm{
  grid-column:1/3;
}


.holder .grouped{
  display:grid;
  grid-template-rows: 30% 70%;
  grid-gap:7px;
  background:none;
  padding:0;
  overflow:hidden;
}

.grouped > div{
  background:#404f5d50;
  border-radius:5px;
  padding:10px 1rem;
}

.fin-mgt-fm h2{
  display:inline-block;
}

.losses{float:right;  }

.line-up{
  flex-direction:column;
}

.trans{display:flex;align-items: center;}
.trans:nth-child(2){
  margin-top:30px;
}

.trans span{
  margin-left:20px;
}

.green{
  padding:1rem 0.5rem;
  background:rgba(10, 201, 10, 0.39);
  border-radius:5px;
}

.red{
  padding:1rem 0.5rem;
  background:rgba(255, 34, 34, 0.856);
  border-radius:5px;
}

.pie{
  margin-top:1rem;
}

@media(max-width:992px){
  .fin-mgt-fm{
    grid-column:1/4;
  }
  .holder .grouped{grid-column: 1/3;}
  /* .fin-mgt-fm h2{display:block;} */

}

@media(max-width:825px){
  .holder{
    grid-template-columns: 50% 50%;
    grid-gap:10px;
  }
  .fin-mgt-fm{
    grid-column:1/3;
  }
  .inventory-mgt-fm{
    height:250px;
  }
}

@media(max-width:450px){
  .fin-mgt-fm  h2{
    display:block;
    float:none;
    font-size:20px;
    
  }
  .inventory-mgt-fm{grid-column:1/3;}
}


@media(max-width:400px){
  .holder{grid-template-columns: 1fr;}
  .fin-mgt-fm{grid-column:1/2;}
  .inventory-mgt-fm{grid-column:1/2;}
  .holder .grouped{grid-column: 1/2;}

}